  /* COLOR PALLETE
  #EEEEEE  main one
  #393E46   second one
  #FFD369   third one
  #ffb300   navbar links
  #222831   extra components


  /* Open color transformated colors
  #ced4da
  #868e96
  
  */
    /*----------------------------- REUSABLES ----------------------------- */
    .container{
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 3.2rem;
      }
      /* grid classes */
      .grid{
        display: grid;
        row-gap: 9.6rem;
        column-gap: 6.4rem;
        margin-bottom: 9.6rem;
      }
      
      .grid:not(:last-child){
        margin-bottom: 9.6rem;
      }

      .grid--center-v{
        align-items: center;
      }
      .grid--2-cols{
        grid-template-columns: repeat(2,1fr);
      }
      .grid--3-cols{
        grid-template-columns: repeat(3, 1fr);
      }
      .grid--4-cols{
        grid-template-columns: repeat(4, 1fr);
      }
      .text-center{
        text-align: center;
      }
      .dispblock{
        display: block;
      }