
/* 1440 /16 = (em value), why 1440? because when i was stretching my browser
i saw there a first problem with displaying on this type of devices 
and 16 is because obviously the default px value is 16*/

/* below 1440 (smaller computer) */
@media(max-width: 90em) {
    .hero{
        max-width: 120rem;
       
    }
    .heading-primary{
        font-size: 4.4rem;
    }
}   

/* 1200px now, so 1200/16 = 75em */
/* and this one is for LANDSCAPE tablets */
@media(max-width: 75em){
    html{
         /* changing every rem value on the page */
        font-size: 53%;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.2rem;
    }
    .heading-secondary{
        font-size: 3.6rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .step-number{
        font-size: 8.2rem;
    }
    .step-description{
        font-size: 1.4rem;
    }
    .header{
        padding: 0 3.2rem;
    }
    .hero{
        gap: 4.2rem;
    }
    .main-nav-list{
        gap: 3.2rem;
    }
}

/* 940px / 16fontsizedefault = 59em */
/* TABLETS */
@media(max-width: 59em){
    html{
        font-size: 50%;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    .hero-img{
        width: 60%;
    }
    .delivered-meals{
        justify-content: center;
    }
    .hero-text-box, .hero-img-box{
        text-align: center;
    }
    .logos img{
        height: 5rem;
    }
    .pricing-plan {
        padding: 3.8rem;
    }
    .pricing-plan-best::after{
        top: 5%;
        right: -11%;
        font-size: 1.2rem;
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
}
/* fix for best value test on this specific width */
@media(max-width: 51em){
    .pricing-plan-best::after{
        top: 3%;
        right: -17%;
        font-size: 1rem;
    }
}
