
  /* COLOR PALLETE
  #EEEEEE  main one
  #393E46   second one
  #FFD369   third one
  #ffb300   navbar links
  #222831   extra components


  /* Open color transformated colors
  
  #fff9db
  #fff3bf
  #ffe066
  #ffd43b


  #ced4da
  #868e96
  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
    font-family: "Poppins" sans-serif;
  }

  html{
    font-size: 62.5%;
  }
  body {
    color: #555;
    font-family: 'Poppins', sans-serif;
    position: relative; 
    line-height: 1;
    font-weight: 400;
  }

  /* ------------------------------HEADER------------------------------- */

.logo{
  height: 12rem;
  transition:ease-in-out 0.2s;
}
.logo:hover{
  transform: scale(106%) rotate(-5deg);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  /* adding height because in future i want the navbar to be sticky */
  height: 14rem;
  padding: 0 4.8rem;
}


  /* ------------------------------NAV------------------------------- */
.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #393E46;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.2s;
} 
.main-nav-link:hover,
.main-nav-link:active{
  color: #ffb300;
  transform: perspective(1rem) scale(1.05);
} 

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 1.6rem 2.4rem;
  background-color: #FFD369;
  border-radius: 14px;
  color: #393E46;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: #fdc136 ;
}

/* ----------------------------HERO SECTION---------------------------- */
.section-hero{
  background-color:#EEEEEE;
  padding: 5.2rem 0 9.6rem 0;
}



.swiftdrop-text{ 
  color: #FFD369;   
}
.hero{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.heading-primary{
  font-size: 5.0rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  color: #393E46;
}
.heading-secondary{
  font-weight: 700;
  color: #393E46;
  letter-spacing: -0.5px;
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 10rem;
}
.heading-tertiary{
  font-weight: 700;
  color: #393E46;
  letter-spacing: -0.5px;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}
.subheading{
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #FFD369;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.hero-description{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
/* BUTTONS HERO */
.btn,
.btn:link,
.btn:visited{
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 14px;
  text-decoration: none;  
  transition: background-color 0.3s;
  border:none;
  cursor: pointer;
}
.btn--full:link,
.btn--full:visited{
  background-color: #393E46 ;
  color: #EEEEEE;
}

.btn--full:hover,
.btn--full:active{
  background-color: #1d2024 ;
  color: #EEEEEE;
}
.btn--outline:link,
.btn--outline:visited{
  background-color: #FFD369 ;
  color: #393E46 ;
  
}
.btn--outline:hover,
.btn--outline:active{
  background-color: #fdc136 ;
  color: #393E46 ;
}
/* very important helping class */
.margin-right-smf{
  margin-right: 2rem !important;
}
.hero-img{
  width: 100%;
}
.delivered-meals{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}
.delivered-imgs img{
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #393E46;
}
.delivered-text{
  font-size: 1.8rem;
}
.number{
  color:#ffb300 ;
  font-weight: 700;
}
.hero-img{
  border-radius: 5%;
}


/* ----------------------------------------SPONSORS SECTION---------------------------------------- */
.section-sponsors{
  padding: 4.8rem 0;
}
.heading-sponsors{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: #34383f;
}
.logos{
  display: flex;
  justify-content: center;
  gap: 5rem;

}
.logos img{
  height: 6.2rem;
  filter: brightness(0%);
  opacity: 80%;
}


/* --------------------------------------HOW IT WORKS SECTION---------------------------------- */
.section-how{
  padding: 9.6rem 0;
}
.step-img{
  width: 45%;
  z-index: 10;
}
.step-number{
  font-size: 10rem;
  font-weight: 600;
  color: #868e96;
  margin-bottom: 1.2rem;
}
.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.step-img-box::before,
.step-img-box::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #FFD369 ;
  width: 75%;
  padding-bottom: 75%; */
  border-radius: 50%;
}
.step-img-box::before{
  background-color: #fff9db ;
  width: 75%;
  padding-bottom: 75%;
  z-index: -2;
}
.step-img-box::after{
  width: 60%;
  padding-bottom: 60%;
  background-color: #fff3bf;
  z-index: -1;
}

/* --------------------------------------PRICING SECTION---------------------------------- */

.section-pricing{
  padding: 9.6rem 0;
  background-color:#EEEEEE;
}
.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
.list-item{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon{
  width: 3rem;  
  height: 3rem;
  color: #ffb300;
}
.plan-header{
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name{
  color: #fdc136;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.8rem;
}
.price{
  font-size: 6.2rem;
  font-weight: 600;
  color:#393E46
  
}
.pricing-plan{
  background-color:#fff3bf;
  padding: 4.8rem;
  width: 100%;
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 0.2s;
  -webkit-box-shadow: 6px 8px 36px -7px rgba(66, 68, 90, 1);
-moz-box-shadow: 6px 8px 36px -7px rgba(66, 68, 90, 1);
box-shadow: 6px 8px 36px -7px rgba(66, 68, 90, 1);
  
}
.pricing-plan-best{
  position: relative;
  padding: 4.8rem;
  overflow: hidden;
}
.pricing-plan-best::after{
  content: "best value";
  top: 5%;
  right: -11%;
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color:#FFD369;
  padding: 0.8rem 4.4rem;
  transform: rotate(45deg);
}
.price span{
  font-size: 3rem;
  font-weight: 500;
  margin-right: .8rem;
}
.pricing-plan:hover{
  transform: scale(105%);
  -webkit-box-shadow: 6px 8px 36px -7px #FFD369;
-moz-box-shadow: 6px 8px 36px -7px #FFD369;
box-shadow: 6px 8px 36px -7px #FFD369;

}
.plan-text{
  font-size: 1.6rem;
  line-height: 1.6;
}
.pricing-plan-middle{
  background-color:#eff5fc;
  border: solid 3px #FFD369;
}
.plan-join-us{
  text-align: center;
  margin-top: 4.8rem;
}

/* --------------------------------------feature part---------------------------------- */

.feature-icon{
  color:#ffb300;
  height: 3.4rem;
  width: 3.4rem;
  margin-bottom: 2.0rem;
  background-color:#eff5fc;
  padding: 1.6rem;
  border-radius: 5rem;
}
.feature-title{
  font-size: 2.4rem;
  color: #393E46;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text{
  font-size: 1.8rem;
  line-height: 1.8;
}


/* --------------------------------------CTA SECTION---------------------------------- */

.section-cta{
  padding: 6.4rem 0 12.8rem 0;
}
.cta{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #ffe066;
  box-shadow: 0 2.4rem 4.8rem #393E46 ;
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(160deg ,  #ffe066,   #fff9db);
}

.cta-text-box{
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text{
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 4.6rem;
}

.cta-img-box{
  background-image: linear-gradient(160deg ,  rgba(255, 224, 102, 0.3),   rgba(255, 249, 219, 0.3)),  url("../assets/register-promo.png");
  background-size: cover;
  background-position: center;
}  
 
.cta .heading-secondary{
  margin-bottom: 3.2rem;
}
.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border:none;
  background-color:#EEEEEE;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder{
  color: #868e96;
}

.cta-form button{
  font-family: inherit;
}
.cta *:focus{
  outline: none;
  box-shadow:  0 0 0 0.4rem  #ffe066;
}
/* --------------------------------------Footer---------------------------------- */
.footer{
  padding: 12.8rem 0;
  border-top: 1px solid #EEEEEE;
}
.grid--footer{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col{
  display: flex;
  flex-direction: column;
}
.logo-footer-fix{
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address{
  margin-bottom: 2.4rem;
}
.social-links{
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon{
  height: 2.6rem;
  width: 2.6rem;
  color:#555;
}
.copyright{
  font-size: 1.4rem;
  color:#868e96;
  margin-top: auto;
}
.logo-footer-fix{
  transition: none;
}
.logo-footer-fix:hover{
  transform: none;
}
.footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color:#868e96;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active{
  color: #393E46;
}