* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: #444;
    font-family: sans-serif;
    position: relative;
  }
  .container{
    width: 1200px;
    margin: 0 auto;
  }