
  /* COLOR PALLETE
  #EEEEEE  main one
  #393E46   second one
  #FFD369   third one
  #222831    extra components
  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
    font-family: "Poppins" sans-serif;
  }
  html{
    font-size: 62.5%;
  }
  body {
    color: #555;
    font-family: 'Poppins', sans-serif;
    position: relative; 
    line-height: 1;
    font-weight: 400;
  }

  /* ------------------------------HEADER------------------------------- */

.logo{
  height: 12rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  /* adding height because in future i want the navbar to be sticky */
  height: 14rem;
  padding: 0 4.8rem;
}


  /* ------------------------------NAV------------------------------- */
.main-nav-list{
  list-style: none;
  display: flex;
  gap: 2.8rem;
  font-size: 2rem;
}
.main-nav-link:link,
.main-nav-link:visited{
  text-decoration: none;
  color: #393E46;
  font-weight: 500;
} 

  /* ----------------------------HERO SECTION---------------------------- */

  .section-hero{
    background-color:#EEEEEE;
    padding: 5.2rem 0 9.6rem 0;
  }
  .swiftdrop-text{
    color: #FFD369;
  }
  .hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }
  .heading-primary{
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3.2rem;
  }
  .hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }

  /* BUTTONS HERO */
  .btn:link,
  .btn:visited{
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 14px;
    text-decoration: none;  
    transition: background-color 0.3s;

  }

  .btn--full:link,
  .btn--full:visited{
    background-color: #393E46 ;
    color: #EEEEEE;

  }
  .btn--full:hover,
  .btn--full:active{
    background-color: #1d2024 ;
    color: #EEEEEE;

  }

  .btn--outline:link,
  .btn--outline:visited{
    background-color: #FFD369 ;
    color: #393E46 ;
    
  }

  .btn--outline:hover,
  .btn--outline:active{
    background-color: #fdc136 ;
    color: #393E46 ;
  }
  /* very important helping class */
  .margin-right-smf{
    margin-right: 2rem !important;
  }

  .hero-img{
    width: 100%;
  }
  .delivered-meals{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
  }
  .delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #393E46;
  }
  .delivered-text{
    font-size: 1.8rem;
  }
  .number{
    color:#ffb300 ;
    font-weight: 700;
  }
  .hero-img{
    border-radius: 5%;
  }