@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 400;
  }
  body {
    color: #444;
    font-family: sans-serif;
    position: relative; 
  }
  section{
    display: block;
    unicode-bidi: isolate;
  }
  div{
    display: block;
    unicode-bidi: isolate;
  }
  .container{
    max-width: 90rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  .swiftdroplogo{
    margin-top: 20px;
    width: 6.0rem;
    height: auto;
    margin-left: 20px;
  }
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fad5ff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  .navbar{
    margin-right: 50px;
  }
  
  .navbar a{
    color: #444;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    
  }
  .navbar a:hover{
    text-decoration: underline;
    color: #d141bb;
  }
  .section-hero{
    background-color: #fad5ff;
    padding: 2.4rem 0 6.4rem 0;
  }
 
  .img-choose-us{
    height: 600px;
    width: auto;
    border-radius: 10%;
  }
  .hero{
    padding-top: 10rem;
    width: 1200px;
    margin: 0 auto;
    display: flex;    
    gap: 30px;
    justify-content: center;
    
  }
  .text h1{
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .text p{
    font-size: 18px;
    margin-bottom: 20px;
  }


  /* BUTTON SECTION */

.button-19 {
  appearance: button;
  background-color: #d479d0;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #d68ccc;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

/* COLLABS */

.collabs{
  padding: 4.8rem 0 3.2rem 0;
  background-color: rgb(255, 231, 255);
}
.logo{
  height: 100px;
}

.sponsors-heading{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2.4rem;
}
.brand-logo{
  display: flex;  
  justify-content: center;
  gap: 120px;
}

/* HOW TO USE */
.section-how{
  padding: 9.6rem 0;
  background-color: rgb(255, 231, 255);
}
.subheading{
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
h3{
  font-size: 44px;
  font-weight: 900;
  padding-bottom: 4.6rem;
}
.step-image{
  width: 55%;
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}
.step-number{
  font-size: 8.2rem;
  font-weight: 600;
  color: #b3b3b3;
}

h4{
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 5.2rem;
}
.step-text{
  align-self: start;
  justify-self: start;
}
.background-image{
  z-index: 1;
  position: absolute;
}
.number2{
  grid-column: 2 / 3;
  
}
.image2{
  grid-row: 2 / 3;
  height: 25.0rem;
}
