@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height:  100vh;
    background-color: black;
    color: bisque;
}
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background-color: rgb(85, 69, 50);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    height: 80px; 
    width: auto; 
    border: none;
}

.navbar a{
    position: relative;
    font-size:  18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s; 
}
.navbar a:hover::before{
    width: 100%;
}